{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- style.css  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- validation js -->
    <!-- <link rel="stylesheet" href="assets/js/form.js"> -->

    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />

    <title>E-Commerce</title>
</head>

<body id="top">
    <!-- ==============header menu section starts here============== -->
    <section class="header_menu" id="header_menu">
        <div class="container-fluid px-0 shadow">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-3  ">
                <a class="navbar-brand pl-5" href="javascript:;">
                    <img src="{% static 'images/logo.png' %}" class="img img-fluid" width="120px" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'cuhome' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'cuorders' %}">orders</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'cuwishlist' %}">Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cuform' %}">Form</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'contactus' %}">ContactUs</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
                    </ul>
                    <div class="search mr-3">
                        <a href="search.html" class="btn btn-sm btn-outline-primary">
                            Search
                        </a>
                    </div>
                    <div class="cart active">
                        <a href="{% url 'cushoppinglist' %}">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                            <span class="badge badge-pill badge-primary">24</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- ==============header menu section ends here============== -->

    <!-- ==============contact starts here============== -->
    <section class="contact py-5 my-5" id="contact">
        <div class="container ">
            <div class="section_title text-center mb-5">
                <h1 class="text-capitalize">Contact Us</h1>
            </div>
            <div class="row mb-5">
                <div class="col-md-4 col-12">
                    <div class="border border-success rounded shadow text-center p-3">
                        <div class="mb-4">
                            <i class="fas fa-phone-alt fa-3x"></i>
                        </div>
                        <div>
                            <h3>Let's Talk</h3>
                            <p><b>Phone:</b> +91-9876543210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="border border-success rounded shadow text-center p-3">
                        <div class="mb-4">
                            <i class="fas fa-envelope-open fa-3x"></i>
                        </div>
                        <div>
                            <h3>Drop a Line</h3>
                            <p><b>Email:</b> xyz@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="border border-success rounded shadow text-center p-3">
                        <div class="mb-4">
                            <i class="far fa-life-ring fa-3x"></i>
                        </div>
                        <div>
                            <h3>24x7 Support</h3>
                            <p><b>Customer:</b> 1800 101 303</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-10 mx-auto mb-3 my-5 py-5 border shadow">
                    <h3 class="text-center mb-3">Form</h3>
                    <form action="contact.html" method="POST" id="form" onsubmit="return formValidation();">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" id="name" type="text" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            <input name="email" id="email" type="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea name="msg" id="msg" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ==============contact ends here============== -->

    <!-- ==============footer starts here============== -->
    <section class="footer_section pt-5 pb-2 mt-5" id="footer_section">
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5">
                        <div class="footer_title">
                            <img src="assets/images/logo.png" width="150px" class="img img-fluid" alt="logo">
                        </div>
                        <div>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, totam est illum ipsum
                            quas ad
                            dignissimos magni veritatis natus voluptatem.
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="footer_title pt-3 mb-3">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="javascript:;">About</a></li>
                                <li><a href="javascript:;">Offers & Discounts</a></li>
                                <li><a href="javascript:;">Get Coupon</a></li>
                                <li><a href="javascript:;">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="footer_title pt-3 mb-3">
                            <h3>New Products</h3>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="javascript:;">Woman Cloth</a></li>
                                <li><a href="javascript:;">Fashion Accessories</a></li>
                                <li><a href="javascript:;">Man Accessories</a></li>
                                <li><a href="javascript:;">Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="footer_title pt-3 mb-3">
                            <h3>Support</h3>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="javascript:;">Frequently Asked Questions</a></li>
                                <li><a href="javascript:;">Terms & Conditions</a></li>
                                <li><a href="javascript:;">Privacy Policy</a></li>
                                <li><a href="javascript:;">Report a Payment Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top">
                <h6 class="text-center mt-3">Copyright ©2020 All rights reserved
                </h6>
            </div>
        </footer>
    </section>
    <div class="backtop">
        <a id="button" href="#top" class="btn btn-lg btn-outline-danger" role="button">
            <i class="fas fa-chevron-up text-dark"></i>
        </a>
    </div>
    <!-- ==============footer ends here============== -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
<script>

    //form validation with javascript
    function formValidation()
    {
        //Get Value
        var name = document.getElementById('name').value.trim();
        var email = document.getElementById('email').value.trim();
        var msg = document.getElementById('msg').value.trim();

        var isValidForm = true;       

        //Validation Conditions here
        if (name.length < 1) {
            alert("Name is Required!");
            var isValidForm = false;
        }       
        else if (email.length < 1) {
            alert("Email is Required!");
            var isValidForm = false;
        } 
        else if (msg.length < 1) {
            alert("Message is Required!");
            var isValidForm = false;
        }
        else
        {
            isValidForm = true;
        }

        return isValidForm;  //if isValidForm is true then form submits else submission is stopped
        
    }

    /*
    //Form validation with Jquery and JavaScript
    $(document).ready(function () {

        $('#form').submit(function (e) {

            //Get Value
            var name = $('#name').val().trim();
            var email = $('#email').val().trim();
            var msg = $('#msg').val().trim();

            //reset the errors
            $(".error").remove();

            var isValidForm = true; 

            //Validation Conditions here
            if (name.length < 1) {
                $('#name').after('<span class="error">This field is required</span>');
                var isValidForm = false;
            }
            
            if (email.length < 1) {
                $('#email').after('<span class="error">This field is required</span>');
                var isValidForm = false;
            } 

            if (msg.length < 1) {
                $('#msg').after('<span class="error">This field is required</span>');
                var isValidForm = false;
            }

            return isValidForm;  //if isValidForm is true then form submits else submission is stopped
                     
        });

    });*/

</script>