
{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- style.css  -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- fontawesome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
  integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
  crossorigin="anonymous" />

<style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }
</style>
    <title>ShoppingList</title>
</head>

<body class="bg" style="background-color: lavender;">
        <div class="container-fluid px-0 shadow">
                <nav class="navbar navbar-expand-lg navbar-light bg-light py-3  ">
                    <a class="navbar-brand pl-5" href="javascript:;">
                        <img src="{% static 'images/logo.png' %}" class="img img-fluid" width="120px" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mx-auto">
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'cuhome' %}">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item ">
                              <a class="nav-link" href="{% url 'cuorders' %}">orders</a>
                          </li>
                          <li class="nav-item ">
                              <a class="nav-link" href="{% url 'cuwishlist' %}">Wishlist</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'cuform' %}">Form</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'contactus' %}">ContactUs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'culogout' %}">Logout</a>
                          </li>
                          
                      </ul>
                      
                      <div class="cart active">
                          <a href="{% url 'cushoppinglist' %}">
                              <i class="fas fa-shopping-cart fa-2x"></i>
                              <span class="badge badge-pill badge-primary">24</span>
                          </a>
                      </div>
                  </div>
                </nav>
            </div><br><br>
        <div >
 
        <center>
                <p style="font-size:35px; text-align:center; color:black; background-color: deepskyblue; margin-top: 50px;"><h2>YOUR SHOPPING LIST</h2></p>
        </center>
        <center>
                <table class="table table-hover table-dark" style="margin-top: 100px; width: 1000px;" >
                        <thead>
                                <tr> 
                                <th scope="col">NAME</th>
                                <th scope="col">TYPE</th>
                                <th scope="col">COLOUR</th>
                                <th scope="col">PATTERN</th>
                                <th scope="col">SIZE</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">VIEW ITEM</th>
                                <th scope="col">REMOVE ITEM</th>
                                </tr>
                        </thead>
                        <tbody>
                        {% for i in result %}
                        <tr>
                                <td >{{i.clothname}}</td>
                                <td>{{i.clothtype}}</td>
                                <td>{{i.clothcolour}}</td>
                                <td>{{i.clothpattern}}</td>
                                <td>{{i.clothsizes}}</td>
                                <td>{{i.clothprice}}</td>
                                <td><button type="button" class="btn btn-info btn-sm" onclick="location.href = '/cuviewitem/{{i.id}}'">View item</button></td>
                                <td><button type="button" class="btn btn-danger btn-sm" onclick="location.href = '/cudeleteitem/{{i.id}}'">Remove item</button></td>
                        </tr>
                        {% endfor%}
                        </tbody>
                        </table>
        </center>
        

        <div class="p-1 mb-2 bg-warning text-dark" style="text-align:center; margin-top: 50px; margin-left: 550px; margin-right: 550px;"><h2>TOTAL COST : {{tp}}</h2></div>
        <br>


        <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href = '/paymentmodule'">BUY NOW</button>
        </div>

        
        
</div>

</body>
</html>