
{% load static %}
<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- style.css  -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- fontawesome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
  integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
  crossorigin="anonymous" />

<title>E-Commerce</title>
<style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }
</style>
    <title>ShoppingList</title>
</head>

<body class="bg" style="background-color: lavender;">
          <!-- ==============header menu section starts here============== -->
  <section class="header_menu" id="header_menu">
        <div class="container-fluid px-0 shadow">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-3  ">
                <a class="navbar-brand pl-5" href="javascript:;">
                    <img src="{% static 'images/logo.png' %}" class="img img-fluid" width="120px" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto">
                      <li class="nav-item ">
                          <a class="nav-link" href="{% url 'fdhome' %}">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                          <a class="nav-link" href="{% url 'fdform' %}">Form</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="{% url 'fdfiles' %}">My Files</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactus' %}">ContactUs</a>
                      </li>
                      
                  </ul>
                  
                  <div class="cart active">
                        
                        <a class="nav-link" href="{% url 'fdlogout' %}">Logout</a>
                        
                   </div>
              </div>
            </nav>
        </div>
    </section>
 
        <center>
                <p style="font-size:35px; text-align:center; color:black; background-color: deepskyblue; margin-top: 50px;"><h2>YOUR FILES LIST</h2></p>
        </center>
        <center>
                <table class="table table-hover table-dark" style="margin-top: 100px; width: 1000px;" >
                        <thead>
                                <tr> 
                                <th scope="col">NAME</th>
                                <th scope="col">TYPE</th>
                                <th scope="col">COLOUR</th>
                                <th scope="col">PATTERN</th>
                                <th scope="col">SIZE</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">VIEW ITEM</th>
                                <th scope="col">REMOVE ITEM</th>
                                </tr>
                        </thead>
                        <tbody>
                        {% for i in result %}
                        <tr>
                                <td >{{i.clothname}}</td>
                                <td>{{i.clothtype}}</td>
                                <td>{{i.clothcolour}}</td>
                                <td>{{i.clothpattern}}</td>
                                <td>{{i.clothsizes}}</td>
                                <td>{{i.clothprice}}</td>
                                <td><button type="button" class="btn btn-info btn-sm" onclick="location.href = '/fdfileview/{{i.id}}'">View item</button></td>
                                <td><button type="button" class="btn btn-danger btn-sm" onclick="location.href = '/fdfiledelete/{{i.id}}'">Remove item</button></td>
                        </tr>
                        {% endfor%}
                        </tbody>
                        </table>
        </center>

        
        </div>

        
        
</div>

</body>
</html>